<%= form_for(@newmicropost) do |f| %>
  <% if @newmicropost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@newmicropost.errors.count, "error") %> prohibited this micropost from being saved:</h2>

      <ul>
      <% @newmicropost.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% f.submit %>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
      <input type="hidden" name="micropost[:user_id]" value="<%= @user %>" />
	
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
